<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block title %}
    Fathin Afif - Data Scientist
    {% endblock %}
  </title>
  <script src="https://cdn.tailwindcss.com"></script>
  <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" /> -->
  <script src="https://unpkg.com/lucide@latest"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
  <link rel="shortcut icon" href=" {{ url_for('static', path='images/favicon.ico') }} " type="image/x-icon" />
</head>

<body class="bg-white text-gray-900">
  <div class="max-w-[80%] mx-auto relative">
    {% include 'components/header.html' %}

    <!-- Main Content -->
    <main class="pt-24 lg:pl-[20%] lg:pt-4">
      {% block content %}

      {% endblock %}
    </main>
  </div>

  <script src="{{ url_for('static', path='js/main.js') }}"></script>
</body>

</html>